= render "header"
- title(params[:d])

#posts.row
  - @output.each do |item|
    .col-xs-12.col-md-4.item
      = render "r/item", item: item, tlength: 200

.row= link_to "Next Page", next_page_link(params.merge({after: @links.after})), class: "btn btn-info col-xs-12"